.movieItem{

    a{
        position: relative;
        display: block;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;

        span{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            display: block;
            padding: 15px 15px;
            background-color: rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(13px);

            font-size: 14px;
        }

        img{
            width: 100%;
        }
    }
}